<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wine_occasion.name %>
</p>

<%= link_to 'Edit', edit_wine_occasion_path(@wine_occasion) %> |
<%= link_to 'Back', wine_occasions_path %>
