<div class="page wrapper">
	<h3 class="page-title">Share</h3>
    <p>Share your promo code mapgb2 with your friends and they get £3 towards their first bottle.</p>
    <p>Once they buy their first bottle you also get £3 in VYNE credit.</p>
	<form action="/shop/neworder" method="GET">
        <input type="text" id="filterPostcode" placeholder="Enter promo code" name="postcode" autocomplete="off"/>
        <input type="submit" value="Submit promo code" />
    </form>
</div>