<p>
<h1>Upload Compositions</h1>
<p>
<h3>File Structure</h3>
<ul>
  <li>Accepted File format: CSV</li>
  <li>First Row must specify column names</li>
  <li>Expected column names:</li>
  <ul>
    <li>
      <strong>composition_id</strong> : Required.
    </li>
    <li>
      <strong>name</strong> : Optional.
    </li>
    <li>
      <strong>grape1_id</strong> : Required.
    </li>
    <li>
      <strong>
        grape1_percentage, grape2_id, grape2_percentage, grape3_id, grape3_percentage
      </strong> etc... (up to 10) : Optional.
    </li>
  </ul>
</ul>
</p>
</p>
<p>
  <%= form_tag({action: :import}, multipart: true) do %>
      <%= file_field_tag 'file' %>
      <%= submit_tag('Upload') %>
  <% end %>
</p>

  <%= link_to 'Back', admin_compositions_path %>



