<% content_for :head do %>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<% end %>

<div id="order" class="swiper-container">
  <div class="swiper-wrapper" >
    <div id="postcode-panel" class="order-panel swiper-slide noSwipingClass swiper-slide-visible swiper-slide-active" data-hash="postcode" >
      <div class="order-panel-content">
        <div class="slideable">

          <div style="text-align: center; padding-top: 30px;">
           <h3> We deliver for this areas: </h3>
          </div>

          <% unless @areas.blank? %>

              <div id="map" style="width: 100%; height: 500px;"></div>


              <script>
                  var map = L.map('map', {zoomControl: false}).setView([51.514525, -0.1050393], 13);

                  map.addControl(L.control.zoom({position: 'topright'}));

                  //TODO: Register for mapbox API
                  L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
                      maxZoom: 18,
                      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                              '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                              'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                      id: 'examples.map-i875mjb7'
                  }).addTo(map);


                  var outside = [
                      [0, -90],
                      [0, 90],
                      [90, -90],
                      [90, 90]
                  ];

                  L.polygon([ outside , <%= @areas.html_safe %>]).addTo(map).setStyle(
                          {
                              color: '#009ee0',
                              opacity: 0.8,
                              weight: 2,
                              fillColor: '#e8f8ff',
                              fillOpacity: 0.45
                          });

              </script>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>