<% content_for :head do %>
    <script src="https://maps.google.com/maps/api/js?v=3&sensor=false"></script>
<% end %>

<div id="order" class="swiper-container">
  <div class="swiper-wrapper" >
    <div id="postcode-panel" class="order-panel swiper-slide noSwipingClass swiper-slide-visible swiper-slide-active" data-hash="postcode" >
      <div class="order-panel-content">
        <div class="slideable">

          <div style="text-align: center; padding-top: 30px;">
           <h3> We currently deliver within this area </h3>
          </div>

          <script>
              var areas = [];
          </script>

          <% unless @areas.blank? %>

              <div id="map" style="width: 100%; height: 500px;"></div>

              <script>
                    areas = <%= @areas.html_safe %>;
              </script>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>