<div style="text-align: center; padding-top: 30px;">
  <h3> Join Vyne </h3>
</div>
<div style="width: 100%">
  <div style="margin: 0 auto">
    <iframe id="pikchart-frame" width="800" height="3246" frameborder="0" scrolling="no" style="overflow-y:hidden;margin: 0 auto;display:block;" src="https://magic.piktochart.com/embed/3572160-frontend-leader"></iframe>
  </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var $window = $(window);
        var $frame = $('#pikchart-frame');

        function checkWidth() {
            var windowsize = $window.width();
            if (windowsize < 800) {
                $frame.width(windowsize);
            }
        }
        checkWidth();
        $(window).resize(checkWidth);
    });
</script>