<div style="text-align: center; padding-top: 30px;">
  <h3> Join Vyne </h3>
</div>

<div id="piktowrapper-embed">
  <div class="pikto-canvas-wrap default center" style="margin: auto;">
    <div class="pikto-canvas"></div>
  </div>
</div>

<script>
    (function (d) {
        var js, id = "pikto-embed-js", ref = d.getElementsByTagName("script")[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement("script");
        js.id = id;
        js.async = true;
        js.src = "https://magic.piktochart.com/assets/embedding/embed.js?UID=3572160-frontend-leader";
        ref.parentNode.insertBefore(js, ref);
    }(document));
</script>