<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12 col-xs-offset-0">
    <div class="animated fadeIn text-center">
      <h3 class="app-title">
        Enter your promo code and your postcode below
      </h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
    <%= render 'layouts/message' %>
    <div id="postcode-error" class="alert alert-danger fade in" style="display: none;">
      <button class="close" data-dismiss="alert">×</button>
      Please enter valid postcode
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
    <div class="row">
      <div class="col-xs-12">
        <div class="animated fadeIn">
          <form class="translucent center-form" id="promo-form" action="/promo" method="post">
            <div class="form-group">
              <input type="text" name="promo_code" class="form-control" id="promo-code" value="<%= @code %>" placeholder="Promo Code"/>
            </div>
            <div class="form-group">
              <input type="text" name="postcode" id="postcode" class="form-control" value="<%= params[:postcode] %>" placeholder="Enter postcode (e.g. EC4Y 8AU)"/>
            </div>
            <%= hidden_field_tag(request_forgery_protection_token.to_s, form_authenticity_token) %>
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $('#promo-form').submit(function (e) {
        e.preventDefault();

        var postcode = $('#postcode').val();
        var $postcodeError = $('#postcode-error');

        analytics.track('Promo code entered', {
            promoCode: $('#promo-code').val(),
            postcode: postcode
        });

        var isValidPostcode = validatePostcode(postcode);

        if (isValidPostcode) {
            $postcodeError.hide();
            this.submit();
        } else {
            $postcodeError.show();
        }

    });
</script>