<section id="user-account" class="section section-dark vyne-section">
  <div class="container-fluid">
    <% if user_signed_in? %>
        <%= render 'index.user' %>
    <% else %>
        <%= render 'index.anonymous' %>
    <% end %>
  </div>
</section>
