<div class="support-box order-box">
    <div class="support-holder">
        <h2>My Orders</h2>
    </div>
</div>
<div class="support-block">
    <p>Your previous wines</p>
    <ul class="product-list additional">
        <% @orders.each do |order| %>
        <li class="active">
            <div class="block">
                <span class="type">Arboleda</span>
                <a href="#" class="item"><%= order.wine.name %> <%= order.wine.vintage %></a>
                <span class="country-holder">
                    <span data-picture data-alt="image description">
                        <!-- <span data-src="images/flag.png" ></span> -->
                        <!-- <span data-src="images/flag-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span> -->
                      <%= image_tag "flags/#{order.wine.producer.country.alpha_2}.png", :alt => order.wine.producer.country.name %>

                    </span>

                    <span class="country"><%= order.wine.producer.country.name %></span>
                </span>
            </div>
            <!-- <div class="rating">4.0</div> -->
        </li>
        <% end %>
    </ul>
</div>
