<div>
    <h1>Thanks for signing up <%= current_user.name %></h1>
    <p>Get your wines delivered for £20</p>
    <%= link_to 'ORDER NOW', {controller: "shop", action: "new"}, :class => "btn call" %>
</div>
