<main class="main-content">
  <div id="order" class="swiper-container">
    <div class="swiper-wrapper">
      <div style="padding: 100px;" id="device-registration">
        <a href="#" id="register-device-link">Register Device</a>
        <ul class="errors" id="device-registration-errors"></ul>
        <span id="message"></span>

        <a href="#" id="register-device-test">Test Registration</a>
      </div>
    </div>
  </div>
</main>