<div id="walkthrough" class="swiper-container">

  <%= render 'swiper_content' %>

  <div class="check-availability">
    <div class="wrapper">
      <%= form_tag('/', method: 'post', id: 'invite-form') do %>
          <input type="text" id="invite-code" placeholder="Invite Code" name="invite_code" autocomplete="off"/>
          <input type="submit" value="Enter Vyne" id="submit-invite-code" style="display:none;"/>
          <div style="height: 41px; padding-top: 10px;" id="invite-missing" class="opening-times loading">
            <a href="#" id="invite-not-available" style="color: #bbbbbb;">Don't have invite code?</a>
          </div>
      <% end %>
      <span id="sign-up-home-errors" style="display:none;"></span>
      <%= form_tag('/mailing_list_signup', method: 'post', id: 'sign-up-home-form', style: 'display:none;') do %>
          <input type="email" id="sign-up-home-email" placeholder="Email me about launch" name="email" autocomplete="off"/>
          <input type="submit" id="sign-up-home-submit" value="Let me know"/>
      <% end %>
      <div id="sign-up-home-thank-you" style="display:none; padding-bottom: 40px;">Thank you</div>
    </div>
  </div>
</div>