<!--<div>
    <div>
        <h1>Your perfect wine chosen by VYNZ</h1>
    </div>
    <ul>
        <li><a href="#">Buy a VYNZ concierge slot </a></li>
        <li><a href="#">We ask about your occasion</a></li>
        <li><a href="#">We select a <strong>perfect</strong> wine</a></li>
        <li><a href="#">Delivery like a take-away</a></li>
    </ul>
    <%= link_to "Sign up", signup_path, :class => "btn" %>
    <a href="#section2">down</a>
</div>-->

<div id="walkthrough" class="swiper-container">
    <div class="swiper-wrapper">
        <div id="one" class="swiper-slide walkthrough-panel">
            <div class="walkthrough-panel-overlay"></div>
            <div class="inner">
                <h3>Great wine <br/>Superfast delivery</h3>
                <p>Get the same wines as top restaurants delivered on-demand</p>
            </div>
        </div>
        <div id="two" class="swiper-slide walkthrough-panel">
            <div class="walkthrough-panel-overlay"></div>
            <div class="inner">
                <h3>London’s best wines at your fingertip</h3>
                <p>Our wines come from the cellars from top restaurants. Never settle for supermarket wine again
.</p>
            </div>
        </div>
        <div id="three" class="swiper-slide walkthrough-panel">
            <div class="walkthrough-panel-overlay"></div>
            <div class="inner">
                <h3>Your digital sommelier</h3>
                <p>Select occasion or food you’re having with your wine. We’ll find a match for you.</p>
            </div>
        </div>
    </div>
    <%= link_to "Order now", neworder_path, :class => "btn order-now" %>
    <div class="pagination"></div>
</div>
