<div id="walkthrough" class="swiper-container">
    <div class="swiper-wrapper">

        <div id="one" class="swiper-slide walkthrough-panel">
            <div class="walkthrough-panel-overlay"></div>
            <div class="inner wrapper">
                <h3>Matching great wines to your occasion. Superfast delivery.</h3>
                <p>Get the same wines as top restaurants delivered on-demand</p>
            </div>
        </div>
        
        <div id="two" class="swiper-slide walkthrough-panel">
            <div class="walkthrough-panel-overlay"></div>
            <div class="inner wrapper">
                <h3>London’s best wines</h3>
                <ul>
                    <li>Our wines come from the same cellars used by the top restaurants.</li>
                    <li>From producers with the best vineyards in the world.</li>
                    <li>Never settle for supermarket wine again!</li>
                </ul>
            </div>
        </div>

        <div id="three" class="swiper-slide walkthrough-panel">
            <div class="walkthrough-panel-overlay"></div>
            <div class="inner wrapper">
                <h3>Your digital sommelier</h3>
                <p>Select the occasion or meal you’re having with your wine. We’ll find a match for you.</p>
            </div>
        </div>

    </div>

    <div class="wrapper">
        <div class="check-availability">
            <h4>Check Availability</h4>
            <form action="/shop/neworder" method="GET">
            <input type="text" id="filterPostcode" placeholder="Enter postcode" name="postcode" autocomplete="off"/>
            <input type="submit" value="Go" />
            </form>
        </div>
    </div>

    <div class="pagination"></div>

</div>
