<div>
    <div>
        <h1>Your perfect wine chosen by VYNZ</h1>
    </div>
    <ul>
        <li><a href="#">Buy a VYNZ concierge slot </a></li>
        <li><a href="#">We ask about your occasion</a></li>
        <li><a href="#">We select a <strong>perfect</strong> wine</a></li>
        <li><a href="#">Delivery like a take-away</a></li>
    </ul>
    <%= link_to "Sign up", signup_path, :class => "btn" %>
    <a href="#section2">down</a>
</div>

<div>
    <div>
        <h2>Once you sign up to VYNZ</h2>
        <span>1</span>
    </div>
    <div>
        <h3>Speak to an expert who chooses for you</h3>
        <p>Lorem ipsum ullamco laboris nisi ut aliquip commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    </div>
    <a href="#section3">down</a>
</div>
<div>
    <div class="heading-main">
        <span>2</span>
    </div>
    <div class="quality-text">
        <h3>Wines from only the highest quality producers</h3>
        <p>Lorem ipsum ullamco laboris nisi ut aliquip commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    </div>
    <a href="#section4">down</a>
</div>
<div>
    <div>
        <span>3</span>
    </div>
    <div>
        <h3>Super fast delivery <span>Ready to drink straight away</span></h3>
        <p>Lorem ipsum ullamco laboris nisi ut aliquip commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <%= link_to "Sign up", signup_path, :class => "btn" %>
    </div>
</div>
