<div id="walkthrough" class="swiper-container">

  <%= render 'swiper_content' %>

  <div class="check-availability">
    <div class="wrapper">
      <span style="display:none;" id="postcode-error">Not a valid postcode</span>
      <form action="/shop/neworder" id="postcode-check" method="GET">
        <input type="text" id="filterPostcode" placeholder="Enter postcode" name="postcode" autocomplete="off"/>
        <input type="submit" value="Check Availability"/>
      </form>
    </div>
  </div>



</div>
