<!--<div>
    <div>
        <h1>Your perfect wine chosen by VYNZ</h1>
    </div>
    <ul>
        <li><a href="#">Buy a VYNZ concierge slot </a></li>
        <li><a href="#">We ask about your occasion</a></li>
        <li><a href="#">We select a <strong>perfect</strong> wine</a></li>
        <li><a href="#">Delivery like a take-away</a></li>
    </ul>
    <%= link_to "Sign up", signup_path, :class => "btn" %>
    <a href="#section2">down</a>
</div>-->

<div id="walkthrough" class="swiper-container">
    <div class="swiper-wrapper">
        <div id="one" class="swiper-slide walkthrough-panel">
            <div class="walkthrough-panel-overlay"></div>
            <div class="inner">
                <h3>Speak to an expert who chooses for you</h3>
                <p>Lorem ipsum ullamco laboris nisi ut aliquip commodo consequat.</p>
            </div>
        </div>
        <div id="two" class="swiper-slide walkthrough-panel">
            <div class="walkthrough-panel-overlay"></div>
            <div class="inner">
                <h3>Wines from only the highest quality producers</h3>
                <p>Lorem ipsum ullamco laboris nisi ut aliquip commodo consequat.</p>
            </div>
        </div>
        <div id="three" class="swiper-slide walkthrough-panel">
            <div class="walkthrough-panel-overlay"></div>
            <div class="inner">
                <h3>Super fast delivery <span>Ready to drink straight away</span></h3>
                <p>Lorem ipsum ullamco laboris nisi ut aliquip commodo consequat.</p>
                <%= link_to "Order now", signup_path, :class => "btn" %>
            </div>
        </div>
    </div>
    <div class="pagination"></div>
</div>
