<div class="bg-page">
    <%= image_tag "img-2.jpg", :alt => "image description" %>
</div>
<div class="holder">
    <div class="order-holder">
        <h1>Thanks for signing up John</h1>
        <p>Get your wines delivered for £20</p>
        <a href="#" class="btn call">ORDER NOW</a>
    </div>
</div>