<section id="new" class="section section-dark app-section">
  <div class="section-background">
    <!-- IMAGE BACKGROUND -->
    <div class="section-background-image parallax-background" data-stellar-background-ratio="0.4"></div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12 col-xs-offset-0">
        <div class="animated fadeIn">
          <h3 class="app-title">

          </h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12 col-xs-offset-0">
        <div class="app-area">
          <div id="new-app"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12 col-xs-offset-0">
        <div>
          <h3 class="app-title">
            How it works
          </h3>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 5px;">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">
        <div class="row">
          <div class="col-sm-3">
            <span class="circled-text-lg">1</span>
            <div class="app-how-it-works">Enter <strong>your plans</strong> or what you like, to place an order</div>
          </div>
          <div class="col-sm-3">
            <span class="circled-text-lg">2</span>
            <div class="app-how-it-works">Top local merchant <strong>recommends</strong> immediately</div>
          </div>
          <div class="col-sm-3">
            <span class="circled-text-lg">3</span>
            <div class="app-how-it-works"><strong>Review match</strong> online</div>
          </div>
          <div class="col-sm-3">
            <span class="circled-text-lg">4</span>
            <div class="app-how-it-works"><strong >Delivery in minutes</strong>  with <i>live</i> tracking</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
