<% unless @order.advisory_completed_at.blank? %>
    <% @order.order_items.each do |item| %>
        <div><%= item.wine.full_info %></div>
    <% end %>
    <% if @order.can_request_substitution? && @order.advisory_completed_at > Time.now.utc - 5.minutes %>
        <a href="/orders/<%= @order.id %>/substitution_request">Request Substitution</a>
    <% end %>
    <% if @order.advisory_completed_at > Time.now.utc - 5.minutes %>
        <a href="/orders/<%= @order.id %>/cancellation_request">Cancel Order</a>
    <% end %>
<% end %>