<div class="bg-page support-bg">
    <%= image_tag "img-6.jpg", :alt => "image description" %>
</div>
<div class="support-box order-box">
    <div class="support-holder">
        <h2>My Orders</h2>
    </div>
</div>
<div class="support-block">
    <p>Your previous wines</p>
    <ul class="product-list additional">
        <li class="active">
            <div class="block">
                <span class="type">Arboleda</span>
                <a href="#" class="item">Chardonnay 2010</a>
                <span class="country-holder">
                    <span data-picture data-alt="image description">
                        <span data-src="images/flag.png" ></span>
                        <span data-src="images/flag-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
                        <noscript><img src="images/flag.png" width="1442" height="400" alt="image description" ></noscript>
                    </span>
                    <span class="country">Aconchagua, Chile</span>
                </span>
            </div>
            <div class="rating">4.0</div>
        </li>
    </ul>
</div>
