<section id="orders" class="section section-dark order-details">
  <div class="section-background">
    <!-- IMAGE BACKGROUND -->
    <div class="section-background-image parallax-background" data-stellar-background-ratio="0.4"></div>
  </div>

  <div class="container-fluid">
    <div class="row animated fadeIn">
      <div class="col-lg-8 col-lg-offset-2
                  col-md-8 col-md-offset-2
                  col-sm-10 col-sm-offset-1
                  col-xs-12 col-xs-offset-0">
        <div id="order-details"></div>
      </div>
    </div>
  </div>

</section>

<script>
    <% unless @order.blank? %>
    var orderId = <%= @order.id %>;
    var justCancelled = <%= !params[:cancelled].blank? %>;
    <% end %>
</script>
