<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Editing Promotions</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <%= render 'form' %>
      </div>
    </div>
  </div>

  <div class="panel-footer">
    <div class="row">
      <div class="col-md-12">
        <%= link_to admin_promotions_path, class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back
        <% end %>
      </div>
    </div>
  </div>
</div>

