<%#= debug @orders.count %>
<%#= debug @orders %>
<div class="advisor-area">
    <h2>Orders</h2>
    <div class="order-list">
    <% @orders.each do |order| %>
        <div class="order-row">
            <%= link_to admin_user_path(order.client) do %>
            <%= order.client.name %>
            <% end %>        
        </div>
    <% end %>
    </div>
    <div class="wine-filters">
        <input type="text" id="search" />
    </div>
    <div id="wine-list"></div>
</div>