.accordian {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;

    li {
        text-align: center;

        .accordian-item-link {
            padding: 5px;
            display: block;
            background: black;
            font-size: 1.6rem;
            color: rgba(255,255,255,0.5);
        }

        .accordian-item-content {
            display: none;
            padding: 15px;
            position: relative;

            .line {
                top: 0;
                left: 50%;
                width: 2px;
                height: 100%;
                display: none;
                margin-left: -1px;
                position: absolute;
                background: rgba(255,255,255,0.1);
            }

            .number {
                z-index: 2;
                color: white;
                width: 50px;
                margin: 10px 0;
                padding: 10px 0;
                font-weight: bold;
                background: black;
                position: relative;
                border-radius: 100px;
                display: inline-block;
                border: 2px white solid;
            }

            h3 {
                margin: 0;
            }

            p, span {
                margin: 0 auto;
                color: rgba(255,255,255,0.5);

                &.note {
                    font-size: 14px;
                }
            }

            .wine-name {
                text-align: left;
                font-size: 14px;

                .wine-number {
                    color: $primary-colour;
                }
            }

            .merchant-note {
                text-align: left;
                color: rgba(255,255,255,0.5);
                font-size: 14px;
            }

            .divider {
                border: none;
                height: 1px;
                background-color: #626262;
            }

            .total {
                font-size: 16px;
            }

            .small-link {
                font-size: 16px;
                text-decoration: underline;
            }
        }

        &.active {
            opacity: 1;
            background: rgba(0,0,0,0.8);

            .accordian-item-link {
                display: none;
            }

            .accordian-item-content {
                display: block;
            }
        }

        &.complete {
            
        }
    }
}