.order-confirmation {
    height: 100%;
    background-image: url(asset-path('order-confirm@2x.jpg'));
    background-size: cover;
    background-position: center center;

    .order-confirmation-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.5);
    }

    .order-confirmation-content {
        position: relative;
        z-index: 2;
        padding: 50px 0 0;
        height: 100%;
    }
}