#order-form {
    height: 100%;

    #order {
        height: 100%;

        .swiper-wrapper {
            height: 100%;

            /*
             * GLOBAL ORDER FORM STYLES
             */

            .swiper-bg {
                display: none;
            }

            .swiper-overlay {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                background: rgba(0,0,0,0.7);
            }

            .order-panel {
                position: relative;
                z-index: 99;
                height: 100%;
                overflow: auto;
                position: relative;
                -webkit-overflow-scrolling: touch;

                .order-panel-content {
                    height: 100%;
                    max-height: 100%;
                }

                h2 {
                    margin: 0 0 20px 0;
                    font-size: 2.2rem;
                }

                p {
                    margin: 0;
                    width: 85%;
                    margin: 0 auto 30px;
                    color: rgba(255,255,255,0.5);
                }

                .title {
                    margin: 0;
                }

                .subttitle {
                    color: rgba(255,255,255,0.7);
                    margin-bottom: 30px;
                    display: block;
                    text-align: center;
                }

                .subttitle-select {
                    font-size: 14px;
                    margin-bottom: 15px;
                    color: rgba(255,255,255,0.7);
                    display: block;
                    text-align: center;
                }

                /*
                 * INDIVIDUAL SlIDE STYLES
                 */

                &#postcode-panel {

                    .order-panel-content {
                        padding: 120px 0 0 0;
                        text-align: center;

                        input {
                            text-align: center;
                        }

                        .not-available {
                            display: none;
                            margin-bottom: 40px;
                            border-radius: 0 0 5px 5px;
                            background: rgba(0,0,0,0.5);

                            h3 {
                                margin: 0;
                                padding: 2rem 0 1rem;
                            }

                            p {
                                margin: 0 auto 1rem;
                            }

                            input[type="email"] {
                                border-radius: 0;
                                margin-top: 2rem;
                            }

                            input[type="submit"] {
                                border-radius: 0 0 5px 5px;
                            }
                        }

                        .message {
                            display: none;
                            padding: 14px;
                            line-height: 1;
                            background: rgba(59,139,41,0.75);
                            margin: -4px 0 35px 0;
                            border-radius: 3px;
                            color: rgba(255,255,255,0.8);

                            &.success {
                                background: #3bab22;
                            }

                            &.error {
                                background: rgba(163,36,56,0.8);
                            }
                        }

                        #use-postcode {
                            display: none;
                        }

                    }

                }   /* END #postcode-panel */

                &#bottles-panel {

                    .order-panel-content {
                        text-align: center;
                        padding: 70px 10px 30px;

                        .bottle-list {
                            margin: 0;
                            padding: 0;
                            list-style: none;

                            .bottle {
                                width: 48%;
                                float: left;
                                position: relative;
                                text-align: center;
                                border-radius: 5px;
                                margin-right: 4%;
                                margin-bottom: 10px;

                                &:nth-child(2n) {
                                    margin-right: 0;
                                }

                                .bottle-link {
                                    position: relative;
                                    z-index: 2;
                                    opacity: 0.9;
                                    padding: 17px;
                                    display: block;
                                    min-height: 203px;
                                    border-radius: 5px;
                                    background: rgba(0,0,0,0.2);
                                    border: 1px rgba(255,255,255,0.15) solid;

                                    &:active {
                                        background: rgba(0,0,0,0.4);
                                        box-shadow: inset 0 1px 3px rgba(0,0,0,0.6);
                                    }

                                    img {
                                        width: 34px;
                                        height: auto;
                                    }

                                    span {
                                        color: white;
                                        display: block;

                                        &.price {
                                            display: none;
                                        }

                                        &.description {
                                            font-size: 1.4rem;
                                            color: rgba(255,255,255,0.7);
                                        }
                                    }

                                }

                                .bottle-info-bg {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    margin: -1px;
                                    opacity: 0.8;
                                    border-radius: 5px 5px 0 0;
                                    background-image: url(asset-path('select/housebg1.jpg'));
                                    background-size: 100% auto;
                                    background-position: top center;
                                    background-repeat: no-repeat;
                                    -webkit-mask-image: -webkit-gradient(linear, left top, left 50%, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
                                }

                                .bottle-info-content {
                                    position: relative;
                                    z-index: 9;
                                }

                                &:nth-child(2) .bottle-info {
                                    left: auto;
                                    right: 0;
                                    @include transform-origin(50% 50%);

                                    .bottle-info-bg {
                                        background-image: url(asset-path('select/reservebg1.jpg'));
                                    }
                                }

                                &:nth-child(3) .bottle-info {
                                    top: auto;
                                    left: 0;
                                    bottom: 0;
                                    @include transform-origin(50% 50%);

                                    .bottle-info-bg {
                                        background-image: url(asset-path('select/finebg1.jpg'));
                                    }
                                }

                                &:nth-child(4) .bottle-info {
                                    top: auto;
                                    left: auto;
                                    right: 0;
                                    bottom: 0;
                                    @include transform-origin(50% 50%);

                                    .bottle-info-bg {
                                        background-image: url(asset-path('select/cellarbg1.jpg'));
                                    }
                                }

                                .bottle-info {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    z-index: 1;
                                    opacity: 0;
                                    width: 100%;
                                    height: 196px;
                                    padding: 16px;
                                    border-radius: 5px; 
                                    @include scale(0);
                                    @include transform-origin(50% 50%);
                                    border: 1px rgba(255,255,255,0.2) solid;

                                    .close {
                                        width: 38px;
                                        height: 39px;
                                        border-radius: 100%;
                                        position: absolute;
                                        top: -14px;
                                        right: -14px;
                                        z-index: 99;
                                        @include scale(0);

                                        .line {
                                            position: relative;
                                            top: 11px;
                                            left: 12px;
                                            width: 22px;
                                            height: 1px;
                                            background: white;
                                            box-shadow: 0 0 6px rgba(0,0,0,0.5);

                                            &:nth-child(1) {
                                                margin-bottom: 14px;
                                                @include transform-origin(0 0);
                                                @include rotate(45);
                                            }

                                            &:nth-child(2) {
                                                @include transform-origin(0 100%);
                                                @include rotate(-45);
                                            }
                                        }
                                    }

                                    img {
                                        width: 15px;
                                        height: auto;
                                        margin-bottom: 8px;
                                    }

                                    span {
                                        color: white;
                                        display: block;

                                        &.price,
                                        &.description {
                                            display: none;
                                        }
                                    }

                                    .full-description {
                                        display: none;

                                        p {
                                            font-size: 1.6rem;
                                            margin: 0 auto 1rem;
                                        }
                                    }

                                    &.active {
                                        z-index: 3;
                                        opacity: 1;
                                        width: 300px;
                                        height: 416px;
                                        @include scale(1);
                                        background: rgba(0,0,0,0.95);

                                        .close {
                                            @include scale(1);
                                        }

                                        img {
                                            width: 55px;
                                            height: auto;
                                        }

                                        span {

                                            &.label {
                                                font-size: 2.6rem;
                                            }

                                            &.price {
                                                text-align: left;
                                                margin: 40px 0 0 22px;
                                                font-weight: bold;
                                                display: none;
                                            }

                                            &.description {
                                                opacity: 0;
                                            }
                                        }

                                        .full-description {
                                            display: block;
                                        }
                                    }

                                }
                            }

                        }

                        .btn {
                            margin: 20px 0;
                        }

                        input {
                            display: none;
                        }

                    }

                }   /* END #bottles-panel */

                &#preferences-panel {

                    .order-panel-content {
                        position: relative;

                        .preferences-sub-panel,
                        .preferences-sub-sub-panel {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: black;
                            padding: 80px 20px 50px;
                        }

                        .preferences-sub-panel {
                            z-index: 3;
                        }

                        .preferences-sub-sub-panel {
                            z-index: 4;
                        }

                        .food-limit,
                        .occasion-limit {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            z-index: 9;
                            display: none;
                            background: rgba(0,0,0,0.8);
                        }

                        h2 {
                            text-align: center;
                            margin-bottom: 20px;
                        }

                        h3 {
                            margin: 0 0 20px 0;
                            font-size: 1.4rem;
                            text-align: center;
                            text-transform: uppercase;
                        }

                        .or {
                            display: block;
                            width: 46px;
                            margin: 0 auto 30px;
                            padding: 11px 0;
                            font-size: 1.4rem;
                            text-align: center;
                            border-radius: 100px;
                            text-transform: uppercase;
                            color: rgba(255,255,255,0.5);
                            border: 1px rgba(255,255,255,0.15) solid;
                        }

                        .specific {

                            label {
                                display: block;
                                text-align: center;
                                margin-bottom: 10px;
                            }

                            input {
                                position: relative;
                                z-index: 2;
                                text-align: center;
                            }

                            .btn {
                                margin-top: -3px;
                            }
                        }

                        .prefs-list-container {

                            .prefs-list {
                                margin: 0 0 20px 0;
                                padding: 0;
                                list-style: none;

                                &.prefs-list-bottom {
                                    li.active {
                                        opacity: 0.2;
                                    }
                                }

                                li {
                                    width: 31%;
                                    float: left;
                                    margin: 0 3.5% 12px 0;
                                    display: inline-block;

                                    &:nth-child(3n) {
                                        margin-right: 0;
                                    }

                                    &.active a {
                                        background: $primary-colour;
                                    }

                                    &.selected,
                                    &.disabled {
                                        opacity: 0.3;
                                    }

                                    a {
                                        padding: 2px;
                                        display: block;
                                        text-align: center;
                                        border-radius: 5px;

                                        img {
                                            width: 48px;
                                            height: auto;
                                            display: block;
                                            margin: 0 auto 10px;
                                        }

                                        span {
                                            color: rgba(255,255,255,0.5);
                                        }
                                    }
                                }

                            }

                        }

                        .prefs-overview {
                            bottom: 0;
                            z-index: 99;
                            width: 320px;
                            position: fixed;
                            display: none;
                            background: rgba(0,0,0,0.9);
                            border-top: 1px rgba(255,255,255,0.2) solid;

                            .prefs-overview-content {
                                padding: 2rem;
                            }

                            &.ios {
                                position: absolute;
                            }

                            .prefs-overview-list {
                                margin: 0 0 2rem;
                                padding: 0 2rem;
                                list-style: none;
                                text-align: center;

                                li {
                                    float: left;
                                    padding: 0 1rem;
                                    display: block;

                                    a {
                                        width: 60px;
                                        height: 60px;
                                        display: block;
                                        border-radius: 50px;
                                        border: 1px rgba(255,255,255,0.2) solid;

                                        img {
                                            position: relative;
                                            top: 10px;
                                            width: 65%;
                                            height: auto;

                                            &.food-prep {
                                                width: 55%;
                                                top: -8px;
                                                right: -22px;
                                                padding: 5px;
                                                background: black;
                                                border-radius: 100px;
                                            }
                                        }

                                        span {
                                            width: 100%;
                                            display: block;
                                            padding: 15px 0;
                                            text-align: center;
                                            color: rgba(255,255,255,0.5);
                                        }
                                    }
                                }
                            }
                        }

                    }

                } /* END #preferences-panel */

                &#review-panel {

                    .order-panel-content {
                        padding: 70px 20px;
                        position: relative;

                        .order-table {
                            width: 100%;
                            text-align: left;
                            margin-bottom: 80px;

                            th {
                                padding: 5px 10px;
                            }

                            td {
                                padding: 10px;
                            }

                            th, td {
                                position: relative;
                                border: 1px #222 solid;

                                .delete {
                                    position: absolute;
                                    top: 50%;
                                    left: -15px;
                                    z-index: 99;
                                    line-height: 1;
                                    display: block;
                                    width: 28px;
                                    margin-top: -15px;
                                    padding: 3px 0 7px;
                                    text-align: center;
                                    border-radius: 40px;
                                    background: black;
                                    border: 1px rgba(255,255,255,0.2) solid;
                                }

                                .wine-bottle {
                                    width: 44px;
                                    height: 95px;
                                    float: left;
                                    margin: 10px 15px 10px 10px;
                                    background-image: url("/dev-assets/wine/bottle15.png");
                                    background-size: 100%;
                                }

                                span {
                                    display: block;

                                    &.label {
                                        font-size: 22px;
                                        margin-top: 7px;
                                    }

                                    &.quantity,
                                    &.category {
                                        display: none;
                                    }

                                    &.price {
                                        text-align: center;
                                    }
                                }

                                .food {
                                    margin: 0;
                                    padding: 0;
                                    list-style: none;

                                    li {
                                        font-size: 1.4rem;
                                        color: rgba(255,255,255,0.6);
                                    }
                                }
                            }

                            .add-bottle,
                            .no-bottles {
                                text-align: center;

                                td {
                                    padding: 2rem;

                                    span {
                                        line-height: 1;
                                        margin-bottom: 1rem;
                                    }
                                }
                            }

                            .no-bottles {
                                display: none;
                            }
                        }

                        p {
                            display: none;
                            text-align: center;
                        }

                    }

                    .btn-checkout {
                        position: fixed;
                        bottom: 0;
                        z-index: 99;
                        width: 320px;
                        color: white;
                        padding: 15px;
                        display: none;
                        font-size: 1.6rem;
                        font-weight: bold;
                        margin-left: -20px;
                        text-align: center;
                        text-transform: uppercase;
                        background: $primary-colour;

                        &.ios {
                            position: absolute;
                        }
                    }

                }   /* END #delivery-panel */

                &#register-panel {

                    .order-panel-content {
                        padding: 70px 20px;

                        .errors {
                            display: none;
                            margin: 0 0 20px 0;
                            padding: 0;
                            list-style: none;
                            border-radius: 5px;
                            background:rgba(0,0,0,0.2);
                            border: 1px rgba(255,255,255,0.2) solid;

                            li {
                                color: #a32438;
                                padding: 8px;
                                border-bottom: 1px rgba(255,255,255,0.1) solid;

                                &:last-child {
                                    border: 0;
                                }
                            }
                        }

                        .account-message {
                            display: block;
                            text-align: center;
                            margin-bottom: 15px;
                        }

                        h2 {
                            margin-bottom: 2rem;
                        }

                        input {
                            margin-bottom: 1rem;
                        }

                        .btn {
                            display: block;
                            text-align: center;
                        }

                    }

                }   /* END #register-panel */

                &#delivery-panel {

                    .order-panel-content {
                        padding: 70px 20px;

                        h2 {
                            margin-bottom: 2rem;
                        }

                        input, select, textarea {
                            margin-bottom: 1rem;
                        }

                        .btn {
                            display: block;
                            text-align: center;
                        }

                    }

                }   /* END #delivery-panel */

                &#payment-panel {

                    .order-panel-content {
                        padding: 70px 20px;

                        h2 {
                            margin-bottom: 2rem;
                        }

                        input, select {
                            margin-bottom: 1rem;
                        }

                        .btn {
                            display: block;
                            text-align: center;
                        }

                    }

                }   /* END #payment-panel */

            }   /* END .order-panel */

        }   /* END .slide-wrapper */

    } /* END #order */

} /* END #order-form */