.container {
    height: 100%;
    @include transition(all, $fast, ease);

    .logo {
        opacity: 1;
        @include transition(all, $fast, ease);
    }

    .main-content {
        @include transition(all, $fast, ease);
    }

    &.menu-visible {
        @include translate(100px, 0);
        @include transition(all, $fast, ease);

        .logo {
            opacity: 0;
            @include transition(all, $fast, ease);
        }

        .main-content {
            opacity: 0.5;
            @include transition(all, $fast, ease);
        }
    }
}

.menu-link {
    @include transition(all, $fast, cubic-bezier(0.8, 0, 0, 0.8));

    .top {
        @include transition(all, $fast, cubic-bezier(0.8, 0, 0, 0.8));
    }

    .middle {
        @include transition(all, $fast, cubic-bezier(0.8, 0, 0, 0.8));
    }

    .bottom {
        @include transition(all, $fast, cubic-bezier(0.8, 0, 0, 0.8));
    }

    &.slide {
        @include translate(100px, 0);
        @include transition(all, $fast, cubic-bezier(0.8, 0, 0, 0.8));

        .top {
            @include rotate(45);
            @include transform-origin(0 0);
            @include transition(all, $fast, cubic-bezier(0.8, 0, 0, 0.8));
        }

        .middle {
            opacity: 0;
            @include transition(all, $fast, cubic-bezier(0.8, 0, 0, 0.8));
        }

        .bottom {
            @include rotate(-45);
            @include transform-origin(0 100%);
            @include transition(all, $fast, cubic-bezier(0.8, 0, 0, 0.8));
        }
    }
}

.aside-bar {
    @include transition(all, $fast, cubic-bezier(0.8,0,0,0.8));

    &.visible {
        @include translate(100px, 0);
        @include transition(all, $fast, cubic-bezier(0.8,0,0,0.8));
    }
}