<section id="availability" class="hero-section hero-layout-simple hero-fullscreen section section-dark">
  <div class="section-background">

    <!-- IMAGE BACKGROUND -->
    <div class="section-background-image parallax-background" data-stellar-background-ratio="0.4"></div>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-6" style="background-color: red">availability</div>
      <div class="col-xs-6" style="background-color: red">availability</div>
    </div>

  </div>

</section>
