<section id="availability" class="section section-dark app-section">

  <div class="section-background">

    <!-- IMAGE BACKGROUND -->
    <div class="section-background-image parallax-background" data-stellar-background-ratio="0.4"></div>

  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12 col-xs-offset-0">
        <div class="animated fadeIn">
          <h3 class="app-title">
            Delivery Options
          </h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12 col-xs-offset-0">
        <div class="app-area">
<div>
          <h4>
            Next available booking slots for  N1 7RJ
          </h4>

          <div class="form-group small">
            Choose your delivery slot
          </div>

          <div class="btn-group-vertical">

            <button class="btn btn-default btn-lg active">Tuesday 13:00 - 14:00</button>
            <button class="btn btn-success  btn-lg">Tuesday 14:00 - 15:00</button>
            <button class="btn btn-default btn-lg">Tuesday 15:00 - 16:00</button>
            <button class="btn btn-default btn-lg" disabled="disabled">
              Tuesday 16:00 - 17:00<br/>
              (unavailable)
            </button>
          </div>

          <h4>
            You selected: Tuesday 14:00 - 15:00
          </h4>

          <div class="form-group form-group-submit">
            <button type="submit" class="btn btn-primary btn-lg app-btn">Book Slot</button>
          </div>
</div>
        </div>
      </div>
    </div>
  </div>

</section>
