@import 'fonts/flaticons';

html, body {
    margin: 0;
    padding: 0;
    // background-color: #fff;

}

body {
    width: 100%;
    overflow-x: hidden;
    // max-width: 100%;
    // overflow: none;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

// Admin area:

.left-block {
    display: block;
    float: left;
    clear: both;
}

header {
    background: black;
}

ul.top-menu,
ul.main-menu {
    // No style
    list-style: none;
    margin: 0;
    padding: 0;

    // Position
    @extend .left-block;

    // Appearance
    background: #333;
    min-height: 40px;

    & > li {
        display: inline-block;
        float: left;
        // border: 1px solid cyan;
        & > span,
        & > a {
            display: inline-block;
            padding: 10px;
            color: white;
            text-decoration: none;
        }
        & > a:hover {
            background: black;
        }
        &.supplier > a {
            color: lightblue;
        }
        &.advisor > a {
            color: lightgreen;
        }
        &.admin > a {
            color: pink;
        }
        &.superadmin > a {
            color: orange;
        }
    }
}

ul.submenu {
    // No style
    list-style: none;
    margin: 0;
    padding: 0;

    // Position
    @extend .left-block;
    width: 100%;
    margin-bottom: 20px;

    // Appearance
    background: #333;
    min-height: 40px;

    & > li {
        display: inline-block;
        float: left;
        // border: 1px solid cyan;
        & > span,
        & > a {
            display: inline-block;
            padding: 10px;
            color: white;
            text-decoration: none;
        }
    }
}

ul.top-menu {
    clear: none;
    width: 50%;
    background: black;
    &.right {
        float: right;
        & > li {
            float: right;
            & > a:hover {
                background: #444;
            }
        }
    }
}

ul.main-menu {
    width: 100%;
}

header,
footer {
    width: 100%;
    @extend .left-block;
}

footer {
    display: none;
}

div.alerts {
    @extend .left-block;
}

div.main-wrapper {
    float: left;
    width: 100%;
}
div.main {
   -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
    // background: grey;
    width: 100%;
    @extend .left-block;
    display: block;
    padding: 30px;
}

.button-wrapper > a {
    display: inline-block;
    padding: 3px;
    color: #666;
    text-decoration: none;
    &:hover {
        color: black;
    }
}

div.field {
    border: 1px solid #CCC;
    padding: 10px;
}

table.list-table {
    width: 100%;
    border-color: #AAF;
    border-collapse: collapse;
    & > tbody > tr {

        &.order {
            &.waiting_for_call {
                background: pink;
            }
            &.paying {
                background: #DFD;
            }
            &.paid {
                background: #BFB;
            }
            &.waiting_for_delivery {
                background: #6F6;
            }
            &.cancelled,
            &.delivered {
                background: #CCC;
            }
        }

        & > td {
            padding: 5px;
        }
    }
}

//----------------------------------------------------
// Advisor area:

.bb {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

* {
    @extend .bb;
}

.advisor-area {
    // background: red;
}

#order-list {
    float: left;
    width: 100%;
    // background: cyan;
    table {
        width: 100%;
        border-width: 1px;
        border-color: #AAF;
        border-collapse: collapse;
        & > tbody > tr {
            &.selected {
                background-color: #DDF;
            }
            &:hover {
                background-color: #DDD;
            }
            & > td {
                padding: 5px;
            }
        }
    }
}

#wine-filters {
    float: left;
    width: 100%;
    // background: red;
    padding: 10px;
    & > input[type=text] {
        float: left;
        font-size: 1.5em;
        width: 100%;
        padding: 10px;
        outline: none;
    }
}

#order-info {
    background: lightblue;
    padding: 5px;
}

$border: 1px solid #D5E;

#wine-list {
    float: left;
    width: 100%;
    table {
        width: 100%;
        border-width: 1px;
        border-color: #AAF;
        border-collapse: collapse;
        & > tbody > tr {
            &.selected {
                background-color: #DDF;
            }
            &:hover {
                background-color: #DDD;
            }
            & > td {
                padding: 5px;
                &.flag {
                    text-align: center;
                }
                &.type {
                    font-size: 0.8em;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                &.composition {
                    // font-size: 0.8em;                    
                }
                &.flags {
                    & > span {
                        font-size: 0.8em;
                        font-weight: bold;
                        border: 1px solid black;
                        background: white;
                        padding: 3px;
                        &.single {
                            padding: 3px 4px;
                        }
                        &.vegan {
                            color: darkgreen;
                            border-color: darkgreen;
                            background: lightgreen;
                        }
                        &.organic {
                            color: darkred;
                            border-color: darkred;
                            background: beige;
                        }
                    }
                }
            }
        }
    }
}