/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *# require_tree .
 *= require_self
 */

@import 'normalize';
@import 'client';
@import 'swiper';

$primary-colour: #A32438;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    color: white;
    background: #222;
    font: 17px/1.5 'Lato', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

a {
    color: $primary-colour;
    text-decoration: none;

    &:hover {

    }
}

/*
 * COMPONENTS
 */

 .container {
    -webkit-transition: all 0.5s cubic-bezier(0.8, 0, 0, 0.8);

    &.menu-visible {
        -webkit-transform: translateX(-200px);
        -webkit-transition: all 0.5s cubic-bezier(0.8, 0, 0, 0.8);
    }
 }

.wrapper {
    width: 320px;
    margin: auto;
}

.btn {
    color: white;
    padding: 10px 13px;
    line-height: 1;
    border-radius: 5px;
    display: inline-block;
    background: $primary-colour;
}

/*
 * FORMS
 */

input {
    border: 0;
    padding: 10px;
    border-radius: 2px;
    font: 1.6rem/1 'Lato', Helvetica, Arial, sans-serif;
}

.form-step-last {
    display: none;
}

.button-wrapper {
    padding: 30px 0;
    & > .btn {
        background: rgba(0, 0, 0, 0.4);
        color: white;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
        font-size: 12px;
        padding: 10px 0;
        &:hover {
            background: rgba(0, 0, 0, 0.8);
            color: white;
        }
    }
}

input {
    outline: none;
}
// Change the white to any color ;)
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}



/*
 * HEADER
 */

.main-header {
    position: fixed;
    top: 0;
    z-index: 2;
    height: 50px;
    width: 100%;
    background: rgba(0,0,0,0.8);

    .logo {
        float: left;
        padding: 17px;
        display: block;

        &:hover {
        }
    }

    .menu-link {
        float: right;
        padding: 18px 18px 12px 18px;
        display: block;

        div {
            width: 20px;
            height: 3px;
            background: white;
            border-radius: 5px;

            &:first-child {
                margin-bottom: 5px;
            }
        }
    }
}



/*
 * SIDE MENU
 */

.aside-bar {
    position: fixed;
    top: 0;
    right: -200px;
    height: 100%;
    background: rgba(0,0,0,0.95);

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {

            a {
                width: 200px;
                color: #777;
                display: block;
                padding: 10px 20px;

                &:hover {
                    color: white;
                    background: #222;
                }
            }
        }
    }
}



/*
 * MAIN CONTENT
 */

.main-content {
}


/*
 * WALKTHROUGH
 */

#walkthrough {
    
    .walkthrough-panel {
        text-align: center;

        &#one {
            background-image: url(../assets/one@2x.jpg);
            background-size: cover;
            background-position: top center;
        }

        &#two {
            background-image: url(../assets/two@2x.jpg);
            background-size: cover;
            background-position: top left;
        }

        &#three {
            background-image: url(../assets/three@2x.jpg);
            background-size: cover;
            background-position: top center;

            .inner {
                padding: 220px 30px 30px;
            }
        }

        .inner {
            position: relative;
            z-index: 2;
            padding: 270px 30px 30px;

            h3 {
                margin: 0 0 0.5rem;
                font-size: 2rem;
            }

            p {
                margin: 0 0 2rem;
                color: rgba(255,255,255,0.5);
            }
        }

        .walkthrough-panel-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.8)));
            background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
            background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
            background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
            background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );

        }

    }

}