/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *# require_tree .
 *= require_self
 */

@import 'client';

html {
    font-size: 62.5%;
}

body {
    color: white;
    background: #222;
    font: 18px/1.5 'Lato', Helvetica, Arial, sans-serif;
}

a {
    color: #A32438;
    text-decoration: none;

    &:hover {

    }
}

/*
 * COMPONENTS
 */

.wrapper {
    width: 500px;
    margin: auto;
}



/*
 * FORMS
 */

input {
    border: 0;
    padding: 10px;
    border-radius: 2px;
    font: 1.6rem/1 'Lato', Helvetica, Arial, sans-serif;
}

.form-step-last {
    display: none;
}

.button-wrapper {
    padding: 30px 0;
    & > .btn {
        background: rgba(0, 0, 0, 0.4);
        color: white;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
        font-size: 12px;
        padding: 10px 0;
        &:hover {
            background: rgba(0, 0, 0, 0.8);
            color: white;
        }
    }
}

input {
    outline: none;
}
// Change the white to any color ;)
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}



/*
 * HEADER
 */

.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0.95);

    .logo {
        float: left;
        padding: 10px 0;
        display: block;

        &:hover {
        }
    }

    .menu-link {
        float: right;
        padding: 10px;
    }
}



/*
 * SIDE MENU
 */

.aside-bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background: rgba(0,0,0,0.95);
    -webkit-transform: translateX(250px);
    -webkit-transition: all 0.5s cubic-bezier(0.8, 0, 0, 0.8);

    &.visible {
        -webkit-transform: translateX(0px);
        -webkit-transition: all 0.5s cubic-bezier(0.8, 0, 0, 0.8);
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {

            a {
                width: 200px;
                color: #777;
                display: block;
                padding: 10px 20px;

                &:hover {
                    color: white;
                    background: #222;
                }
            }
        }
    }
}



/*
 * MAIN CONTENT
 */

.main-content {
    padding-top: 40px;
}