header, footer, article, section, hgroup, nav, figure, aside {display: block;}
figure { margin:0; padding:0; }
input[type="image"]{padding:0;border:none;}
input[type="email"], input[type="tel"], input[type="search"], input[type=text], input[type=password], input[type=file], input[type=submit], textarea{-webkit-appearance:none;border-radius:0;}
html{height:100%;}
body {
    margin:0;
    color:#a2a7ac;
    font: 15px/21px Helvetica, Arial, sans-serif;
    background:#fff;
    min-width:320px;
    height:100%;
    width:100%;
}
img {border-style:none;}
a {
    text-decoration:none;
    color:#ccc;
    outline:none;
}
a:hover {text-decoration:underline;}
input,
textarea,
select {
    font:100% Arial, Helvetica, sans-serif;
    vertical-align:middle;
    color:#000;
}
form, fieldset {
    margin:0;
    padding:0;
    border-style:none;
}
button::-moz-focus-inner{
    padding:0;
    border:0;
}
#wrapper{
    width:100%;
    overflow:hidden;
    position:relative;
    min-height:100%;
}
.w1{
    width:100%;
    position:relative;
}
.bg-page{
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    right:0;
    bottom:0;
}
.overlay{
    position:absolute;
    background:rgba(0,0,0, 0.6);
    left:0;
    right:0;
    top:60px;
    bottom:0;
}
#header{
    position:relative;
    background:rgba(0,0,0, 0.4);
    overflow:hidden;
    padding: 20px 21px 18px 16px;
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
#header.dark{background:rgba(0,0,0, 0.8);}
.header-holder{
    margin:0 auto;
    max-width:600px;
}
.logo{
    float:left;
    width:75px;
    height:13px;
}
.logo a{
    display:block;
    height:100%;
}
.logo img{
    width:100%;
    height:auto;
}
.header-holder .opener{
    float:right;
    width:27px;
    height:12px;
    padding-top: 7px;
    margin-top: 3px;
}
.opener span{
    position:relative;
    background:#fff;
    width:27px;
    display:block;
    height:2px;
}
.opener span:after,
.opener span:before{
    content:"";
    position:absolute;
    top: 9px;
    left:0;
    width:27px;
    height:2px;
    background:#fff;
}
.opener span:before{top:-9px;}
#main{
    padding: 37px 16px 26px;
    max-width:600px;
    margin:0 auto;
}
.heading{padding-top: 23px;}
#main h1{
    font: 30px/32px Helvetica, Arial, sans-serif;
    color:#fff;
    margin: 0 0 10px;
    text-align:center;
    letter-spacing:1px;
}
#main h1 span{
    color:#afafaf;
    font-size:25px;
}
#main p{margin:0 0 10px;}
.services-list{
    list-style:none;
    margin:0;
    padding: 52px 0 6px 41px;
    font:300 19px/22px Helvetica, Arial, sans-serif;
}
.services-list li{
    padding-bottom: 29px;
}
.services-list a{
    color:#e2e2e2;
    position:relative;
}
.services-list a strong{font-weight:bold;}
.services-list a:after{
    content:"";
    position:absolute;
    top: -10px;
    left: -41px;
    width:35px;
    height:35px;
    background: url(/assets/sprite.png) no-repeat -86px -1px;
}
.services-list .phone:after{
    background-position:-86px -42px;
    width:23px;
    height:30px;
    left: -36px;
    top: -4px;
}
.services-list .choice:after{
    background-position:-125px -1px;
    width:11px;
    height:39px;
    left: -30px;
    top: -13px;
}
.services-list .time:after{
    background-position: -116px -48px;
    width: 31px;
    height: 36px;
    left: -39px;
    top: -10px;
}
.btn{
    width:100%;
    display:block;
    background:rgba(229, 51, 79, 0.75);
    font:24px/26px Helvetica, Arial, sans-serif;
    border-radius:4px;
    text-transform:uppercase;
    text-align:center;
    color:#fff;
    padding: 12px 15px 11px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin-bottom: 24px;
}
.btn:hover{
    text-decoration:none;
    background:rgba(229, 51, 79, 0.85);
}
.link-down{
    display:block;
    margin:0 auto;
    width:20px;
    height:12px;
    background: url(/assets/sprite.png) no-repeat -59px -24px;
    text-indent:-9999px;
    overflow:hidden;
}
.relation-holder{
    text-align:center;
    padding: 110px 0;
}
.relation-holder .btn{
    font:300 18px/20px Helvetica, Arial, sans-serif;
    padding: 14px 15px 15px 37px;
    position:relative;
}
.relation-holder .btn:after{
    content:"";
    position:absolute;
    top: 15px;
    left: 17px;
    width:16px;
    height:17px;
    background: url(../assets/sprite.png) no-repeat -1px 0;
}
.btn.message{
    background:rgba(255,255,255, 0.75);
    color:#25282b;
    padding: 15px 15px 14px 32px;
}
.btn.message:after{
    background-position:-19px -1px;
    width:17px;
    height:15px;
    left: 32px;
    top: 17px;
}
.btn.message:hover{background:rgba(255,255,255, 0.8)}
.or{
    display:inline-block;
    vertical-align:top;
    background:rgba(255,255,255, 0.3);
    border-radius:50%;
    color:#fff;
    font:10px/14px Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    padding: 7px;
    margin: -9px 0 16px;
}
.login-link{
    float:right;
    color:#e5334f;
    font:300 18px/18px Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    margin-right: 12px;
    max-width:180px;
    letter-spacing:1px;
}
.heading-main {
    text-align:center;
    padding-top: 10px;
}
.heading-main h2{
    font:bold 19px/22px Helvetica, Arial, sans-serif;
    margin: 0 0 20px;
    color:#fff;
    letter-spacing:1px;
}
.step{
    background:rgba(229, 51, 79 ,0.8);
    border-radius:50%;
    font:12px/14px Helvetica, Arial, sans-serif;
    color:#fff;
    padding: 4px 7px 3px 6px;
}
.speak-text{
    text-align:center;
    padding: 94px 8px 86px;
    position:relative;
    letter-spacing:1px;
}
.speak-text:after{
    content:"";
    position:absolute;
    top: 38px;
    left:50%;
    margin-left: -19px;
    width:35px;
    height:46px;
    background: url(../assets/sprite.png) no-repeat -44px -40px;
}
.speak-text h3,
.quality-text h3,
.speed-box h3{
    font: 300 18px/21px Helvetica, Arial, sans-serif;
    margin: 0 0 23px;
    color:#e2e2e2;
}
.aside-bar{
    position:absolute;
    top:0;
    bottom:0;
    width:261px;
    margin:0 -261px 0 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding: 23px 48px 60px 26px;
    background:rgba(33, 36, 40, 0.95);
    z-index:12;
}
.home-page .aside-bar{position:fixed !important;}
.aside-bar:after{
    content:"";
    position:absolute;
    bottom:0;
    right: 48px;
    width:41px;
    height:134px;
    background: url(../assets/sprite.png) no-repeat -1px -89px;
}
.aside-bar .hidden{display:none;}
.aside-bar.login .hidden{display:block;}
.aside-bar.login .sign-in{display:none;}
.nav{
    list-style:none;
    margin: 0 0 30px;
    padding: 0 0 10px 23px;
    font:300 18px/20px Helvetica, Arial, sans-serif;
}
.aside-bar nav:first-child .nav{border-bottom:1px solid #3c3c40;}
.nav li{padding-bottom: 18px;}
.nav a{
    color:#fff;
    position:relative;
}
.nav a:after{
    content:"";
    position:absolute;
    top: 4px;
    left: -24px;
    width:11px;
    height:13px;
    background: url(../assets/sprite.png) no-repeat -140px -20px;
}
.nav .promotions:after{
    background-position:-156px -20px;
    width:13px;
}
.nav .home:after{
    background-position:-172px -1px;
    width:15px;
    left: -25px;
}
.nav .about:after{
    background-position:-140px -35px;
    width:13px;
    left: -24px;
    top: 3px;
}
.nav .order:after{
    background-position:-189px 0;
    width:14px;
    height:14px;
    left: -24px;
    top: 3px;
}
.nav .profile:after{
    background-position:-173px -18px;
    width:12px;
    left: -24px;
    top: 3px;
}
.nav .payment:after{
    background-position:-189px -36px;
    width:14px;
    height:11px;
    left: -24px;
    top: 3px;
}
.nav .support:after{
    background-position:-189px -19px;
    width:14px;
    height:12px;
    left: -24px;
    top: 3px;
}
.nav .history:after{
    background-position:-156px -35px;
    width:13px;
    left: -24px;
    top: 3px;
}
.nav .share:after{
    background-position:-172px -35px;
    width:13px;
    left: -24px;
    top: 3px;
}
.sign-out{
    position:absolute;
    bottom: 36px;
    left: 49px;
    font:300 18px/20px Helvetica, Arial, sans-serif;
    color:#fff;
}
.sign-out:after{
    content:"";
    position:absolute;
    top: 4px;
    left: -22px;
    width:12px;
    height:13px;
    background: url(../assets/sprite.png) no-repeat -194px -51px;
}
.information-text{
    text-align:center;
    padding: 89px 0 10px;
    position:relative;
    letter-spacing: 0.5px;
}
.information-text:after{
    content:"";
    position:absolute;
    top: 26px;
    left:50%;
    margin-left:-20px;
    width:41px;
    height:36px;
    background: url(../assets/sprite.png) no-repeat -52px -94px;
}
#main .information-text h1{
    margin-bottom: 35px;
    line-height:36px;
}
#main .big{
    color:#fff;
    font: 18px/21px Helvetica, Arial, sans-serif;
    margin-bottom: 31px;
}
#main .information-text p{line-height:18px;}
.schedule-box{
    text-align:center;
    letter-spacing:1px;
}
#main .schedule-box h1{
    margin-bottom: 18px;
}
#main .schedule-box p{
    margin: 0 20px 5px;
    line-height: 19px;
}
.row-holder{
    margin: 0 0 0 -6px;
    padding: 24px 0 7px 0;
    font-size:0;
    line-height:0;
}
.row-holder .row{
    width:33%;
    display:inline-block;
    vertical-align:top;
    font:300 18px/20px Helvetica, Arial, sans-serif;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding: 0 0 11px 6px;
    letter-spacing:0;
}
.row-holder .row label{
    border:1px solid #fff;
    border-radius:3px;
    color:#f1f3f4;
    display:block;
    text-align:center;
    padding: 7px 5px 10px;
    cursor:pointer;
}
.row-holder .row .jcf-label-active{
    background:#fff;
    text-decoration:none;
    color:#313337;
}
.schedule-box sup{font-size: 10px;}
.schedule-form input[type="submit"]{
    font:300 15px/18px Helvetica, Arial, sans-serif;
    padding: 15px 5px 16px;
    letter-spacing:0;
    margin-top: 19px;
}
.jcf-hidden {
    display: block !important;
    position: absolute !important;
    left: -9999px !important;
}
.rad-area {
    float: left;
    width: 0;
    height: 0;
}
.rad-checked {
    background: #aaf;
}
.rad-focus {
    border-color: #f00;
}
.rad-disabled {
    background: #eee;
}
.log-in{
    color:#8c8e91;
    text-transform:none;
    margin-right: 21px;
}
.time-box{
    background:rgba(0,0,0, 0.75);
    padding:17px 23px 18px 45px;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    font:300 18px/20px Helvetica, Arial, sans-serif;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    color:#fff;
}
.tel{
    float:right;
    margin:3px 0 0 10px;
    width:13px;
    height:14px;
    background: url(../assets/sprite.png) no-repeat -156px -1px;
}
.time-box p{
    margin:0;
    overflow:hidden;
}
.time-holder{
    max-width:600px;
    margin:0 auto;
    color:#e6e6e6;
    position:relative;
}
.time-holder:after{
    content:"";
    position:absolute;
    top:4px;
    left:-22px;
    width:13px;
    height:14px;
    background: url(../assets/sprite.png) no-repeat -141px -1px;
}
.time-box p span{
    font-weight:bold;
    color:#e5334f;
}
.code-box{
    padding: 67px 0 0;
    text-align:center;
    line-height: 18px;
    letter-spacing:0.5px;
}
#main .code-box .big{
    margin: 0 0 8px;
}
.code-form{padding: 22px 0 0;}
.code-form.promo{padding-top: 19px;}
.code-form input[type="text"]{
    text-align:center;
    width:100%;
    border:none;
    border-radius:4px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding: 5px 10px 6px;
    color:#25282b;
    height:44px;
    font:300 21px/24px Helvetica, Arial, sans-serif;
}
.success [type="text"]{background:rgba(255,255,255,0.5);}
::-webkit-input-placeholder {color: #25282b;}
:-moz-placeholder {color: #25282b;}
::-moz-placeholder {
    color: #25282b;
    opacity: 1;
}
:-ms-input-placeholder {color: #25282b;}
.verified-box{
    padding-top: 84px;
    position:relative;
    display:none;
    letter-spacing:0.5px;
}
#main .verified-box .big{margin-bottom:7px;}
.verified-box:after{
    content:"";
    position:absolute;
    top: 31px;
    left:50%;
    margin-left: -21px;
    width: 39px;
    height:40px;
    background: url(../assets/sprite.png) no-repeat -1px -40px;
}
.success .verified-box{display:block;}
.question-box {
    text-align:center;
    padding: 6px 0 0;
}
.question-box h2{
    color:#fff;
    margin: 0 0 32px;
    font: bold 21px/25px Helvetica, Arial, sans-serif;
}
.question-form .row{
    margin-bottom: 23px;
}
.question-form label{
    letter-spacing:1px;
}
.question-form input[type='text']{
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border:1px solid #fff;
    text-align:center;
    background:none;
    border-radius:4px;
    font:300 19px/22px Helvetica, Arial, sans-serif;
    color:#fff;
    height:44px;
    margin-top: 6px;
    padding: 5px 10px 10px;
}
.question-form .box{
    border-radius:4px;
    border:1px solid #fff;
    margin-top: 8px;
}
.question-form .box input[type='text']{
    border:none;
    margin:0;
    height: 35px;
    padding: 5px 10px 3px;
}
.question-form input[type='text']::-webkit-input-placeholder {color: #fff;}
.question-form input[type='text']:-moz-placeholder {color: #fff;}
.question-form input[type='text']::-moz-placeholder {
    color: #e2e2e2;
    opacity: 1;
}
.question-form input[type='text']:-ms-input-placeholder {color: #fff;}
.taste-list{
    list-style:none;
    margin:0;
    padding: 0 20px 11px;
    font:19px/21px Helvetica, Arial, sans-serif;
}
.taste-list li{padding-bottom: 3px;}
.taste-list span{position:relative;}
.taste-list span:after{
    content:"";
    position:absolute;
    top: 8px;
    left: -17px;
    width:12px;
    height:9px;
    background: url(../assets/sprite.png) no-repeat -180px -53px;
}
input[type="submit"].disabled {
    opacity: .8;
    color: darkred;
}
input[type="submit"]{
    width:100%;
    background:rgba(229, 51, 79, 0.85);
    border:none;
    text-transform:uppercase;
    font:300 21px/24px Helvetica, Arial, sans-serif;
    height:49px;
    border-radius:4px;
    color:#fff;
    margin-top: -3px;
    cursor:pointer;
}
input[type="submit"]:hover{
    background:rgba(229, 51, 79, 0.9);
}
.call-box{
    text-align:center;
    position:relative;
    padding: 89px 0 0;
    letter-spacing:1px;
}
.call-box:after{
    content:"";
    position:absolute;
    top: 22px;
    left:50%;
    margin-left: -21px;
    width:44px;
    height:46px;
    background: url(../assets/sprite.png) no-repeat -152px -91px;
}
#main .call-box h1{
    line-height:36px;
    margin: 0 0 35px;
}
#main .call-box .big{
    margin-bottom: 11px;
    line-height:21px;
}
#main .call-box p{
    margin: 0 12px 50px;
    line-height:18px;
}
.call-box .btn{font-size:18px;}
.delivery-holder{
    text-align:center;
    line-height:18px;
}
.delivery-holder .relation-holder{padding-top: 36px;}
#main .delivery-holder h1{margin-bottom: 39px;}
#main .delivery-holder p{
    margin:0 0 20px;
    letter-spacing:1px;
}
.code{
    display:block;
    text-transform:uppercase;
}
.delivery-holder .or{margin: -14px 0 14px;}
.delivery-holder .btn{
    font-size:21px;
}
.delivery-holder .btn:after{
    background-position:-50px 0;
    width:17px;
    height:18px;
    top: 15px;
    left: 18px;
}
.delivery-holder .btn.message{
    padding:15px 20px 14px 40px;
    background:rgba(255,255,255, 0.85);
}
.delivery-holder .btn.message:hover{background:rgba(255,255,255, 0.9);}
.delivery-holder .btn.message:after{
    background-position:-69px 0;
    width:15px;
    height:18px;
    left: 24px;
}
.bg-page iframe{
    width:100%;
    height:100%;
}
.home-page #header{
    position:fixed;
    width:100%;
    top:0;
    left:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    z-index:11;
}
.win-height{
    position:relative;
    padding:97px 16px 26px;
    min-height:445px;
    overflow:hidden;
}
.home-page #main{
    padding:0;
    max-width:none;
}
.home-page .holder{
    max-width:600px;
    margin:0 auto;
}
.quality-text{
    text-align:center;
    position:relative;
    padding: 117px 10px 111px;
    letter-spacing:1px;
}
.quality-text:after{
    content:"";
    position:absolute;
    top: 31px;
    left:50%;
    margin-left: -9px;
    width:20px;
    height:72px;
    background: url(../assets/sprite.png) no-repeat -168px -171px;
}
.quality-text h3{margin-bottom: 17px;}
.order-holder{
    padding: 95px 0 0;
    text-align:center;
    letter-spacing:1px;
}
#main .order-holder h1{margin-bottom: 14px;}
.order-holder .btn{margin-top: 49px;}
.speed-box{
    position:relative;
    padding: 108px 0 20px;
    text-align:center;
    letter-spacing:1px;
}
.speed-box:after{
    content:"";
    position:absolute;
    top: 27px;
    left:50%;
    width:54px;
    height:65px;
    margin-left: -26px;
    background: url(../assets/sprite.png) no-repeat -2px -225px;
}
.speed-box h3{margin-bottom: 12px;}
.speed-box h3 span{display:block;}
.speed-box .btn{margin-top: 64px;}
.support-bg{
    bottom:auto;
    height: 171px;
    overflow:hidden;
}
.support-box{
    text-align:center;
    letter-spacing:1px;
    padding: 3px 0 0;
}
.support-holder{min-height:57px;}
.support-box h2{
    color:#fff;
    font:24px/26px Helvetica, Arial, sans-serif;
    margin: 0;
}
.support-block{
    position:relative;
    padding: 42px 0;
}
.support-block:after{
    content:"";
    position:absolute;
    top:0;
    left:50%;
    margin-left:-14px;
    width:28px;
    height:28px;
    background: url(../assets/sprite.png) no-repeat -164px -140px;
}
.question-list{
    list-style:none;
    margin: 0 -16px 87px;
    padding:0;
    font:300 11px/14px Helvetica, Arial, sans-serif;
    text-align:left;
}
.question-list li{
    padding: 10px 10px 11px 42px;
}
.question-list .active,
.question-list li:hover{background:#f3f4f5;}
.question-list a{
    font:13px/16px Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    color:#25282b;
    position:relative;
}
.question-list a:after{
    content:"";
    position:absolute;
    top: 1px;
    left: -20px;
    width:12px;
    height:13px;
    background: url(../assets/sprite.png) no-repeat -148px -144px;
}
.question-list span{
    display:block;
    padding-top: 4px;
}
#main .support-block p{margin-bottom:15px;}
.support-block .btn{
    background:#e9eaeb;
    color:#e5334f;
    font-weight:300;
    font-size:21px;
    padding: 12px 15px 11px;
}
.support-block .btn:hover{background:#d7d9da;}
.support-form{margin: -1px -1px 0 1px;}
.jcf-hidden {
    display: block !important;
    position: absolute !important;
    left: -9999px !important;
}
.select-area {
    border: 1px solid #e8eaec;
    position: relative;
    overflow: hidden;
    height:43px;
    cursor: default;
    float: left;
    color:#25282b;
    border-radius:4px;
    width:100% !important;
    text-align:left;
    font:300 19px/22px Helvetica, Arial, sans-serif;
    margin-bottom:13px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.select-address{
    width:100% !important;
    right:0;
}
.select-area .center {
    white-space: nowrap;
    padding: 9px 30px 9px 10px;
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width:100% !important;
}
.select-area .select-opener {
    background: url(../assets/sprite.png) no-repeat -146px -163px;
    position: absolute;
    height: 8px;
    width: 14px;
    right: 14px;
    top: 16px;
}
.select-options {
    position: absolute;
    overflow: hidden;
    background: #fff;
    z-index: 2000;
}
.select-options .drop-holder {
    border: 1px solid #e8eaec;
    overflow: hidden;
    height: 1%;
    border-radius:4px;
}
.select-options ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font:300 19px/22px Helvetica, Arial, sans-serif;
}
.select-options ul li {
    width: 100%;
    float: left;
}
.select-options ul a {
    text-decoration: none;
    padding: 5px 13px;
    display: block;
    cursor: default;
    color: #25282b;
    height: 1%;
}
.select-options .item-selected a {
    text-decoration: none;
    background: #ccc;
    color: #fff;
}
.support-form textarea{
    height:181px;
    width:100% !important;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    resize:none;
    border-radius:4px;
    border:1px solid #e8eaec;
    color:#25282b;
    font:300 19px/22px Helvetica, Arial, sans-serif;
    padding: 8px 15px;
    margin-bottom: 16px;
}
.support-form input[type="submit"]{background:#e5334f;}
.support-form input[type="submit"]:hover{opacity:0.9;}
.order-box .support-block:after{background-position:-98px -86px;}
.product-holder{
    font:300 11px/14px Helvetica, Arial, sans-serif;
    color:#a2a7ac;
    position:relative;
    padding: 52px 0 16px;
}
.product-holder:after{
    content:"";
    position:absolute;
    top: -3px;
    left:50%;
    margin-left: -21px;
    width:43px;
    height:43px;
    background: url(../assets/sprite.png) no-repeat -50px -135px;
}
.type{
    display:block;
    padding-bottom: 3px;
}
.product-holder strong{
    font:18px/20px Helvetica, Arial, sans-serif;
    color:#25282b;
    display:block;
    margin: 0 0 4px;
}
.rating-box{
    margin:0 -16px;
    border-top:1px solid #f3f4f5;
    padding: 10px 0;
}
.rating-block img{
    vertical-align:top;
    width:143px;
    height:21px;
}
.country-box{
    display:inline-block;
    vertical-align:top;
}
.country-box img{
    vertical-align:top;
    margin:2px 0 0 0;
    width:12px;
    height:9px;
}
.product-list{
    list-style:none;
    margin:0;
    font:300 11px/14px Helvetica, Arial, sans-serif;
    color:#a2a7ac;
    padding: 14px 0 0;
    text-align:left;
}
.product-list.additional{
    margin:0 -16px;
    padding: 7px 0;
}
.product-list li{
    padding: 9px 12px 8px 65px;
    position:relative;
    overflow:hidden;
    border-bottom:1px solid #f3f4f5;
}
.product-list .active,
.product-list li:hover{background:#f3f4f5;}
.product-list li:after{
    content:"";
    position:absolute;
    top:50%;
    left: 12px;
    width:43px;
    height:44px;
    background: url(../assets/sprite.png) no-repeat -60px -240px;
    margin-top: -22px;
}
.product-list .block{
    float:left;
    width:80%;
}
.product-list a{
    font:14px/16px Helvetica, Arial, sans-serif;
    color:#25282b;
}
.country-holder{
    display:block;
    padding: 5px 0 0;
    font-size:9px;
}
.country-holder img{
    vertical-align:top;
    margin: 2px 4px 0 0;
    width:12px;
    height:9px;
    float:left;
}
.product-list .country{
    text-transform:uppercase;
    overflow:hidden;
    display:block;
}
.product-list .rating{
    float:right;
    width: 22px;
    position:relative;
    text-align:right;
    padding-top: 1px;
}
.product-list .rating:after{
    content:"";
    position:absolute;
    top: 2px;
    left: -11px;
    width:11px;
    height:11px;
    background: url(../assets/sprite.png) no-repeat -167px -52px;
}
.product-list .type{padding-bottom: 1px;}
.call-box.speak{padding-top:141px;}
.call-box.speak:after{top: 74px;}
#main .call-box.speak h1{margin-bottom: 19px;}
.share-holder {
    text-align:center;
    font:16px/18px Helvetica, Arial, sans-serif;
    letter-spacing:1px;
    color:#cbcbcb;
    padding:0 5px;
}
#main .share-holder h1{margin-bottom: 66px;}
#main .share-holder p{margin-bottom: 27px;}
.promo-code{
    color:#e5334f;
    font-weight:bold;
}
.social-networks{
    list-style:none;
    margin:0;
    padding: 86px 0 20px 7px;
    font-size:0;
    line-height:0;
}
.social-networks li{
    display:inline-block;
    vertical-align:top;
    margin:0 12px;
}
.social-networks a{
    display:block;
    text-indent:-9999px;
    overflow:hidden;
    width:46px;
    height:46px;
    background: url(../assets/sprite.png) no-repeat -47px -180px;
}
.social-networks a:hover{opacity:0.8;}
.social-networks .twitter{background-position:-96px -180px;}
.social-networks .email{background-position:-96px -134px;}
.row-box{padding-bottom: 44px;}
.sign-in-form .row{
    border-radius:4px;
    position:relative;
    border:1px solid #fff;
    padding-left: 44px;
    height:44px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin-bottom:16px;
}
.sign-in-form .row:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:44px;
    height: 42px;
    background: #fff;
}
.sign-in-form .row:after{
    content:"";
    position:absolute;
    top: 14px;
    left: 12px;
    width:17px;
    height:13px;
    background: url(../assets/sprite.png) no-repeat -148px -74px;
}
.sign-in-form .password-row:after{
    background-position:-167px -70px;
    width:13px;
    height:17px;
    top: 11px;
    left: 15px;
}
.sign-in-form .tel-row:after{
    background-position:-130px -91px;
    width:13px;
    height:17px;
    top: 11px;
    left: 15px;
}
.sign-in-form .name-row:after{
    background-position:-181px -68px;
    width:16px;
    height:17px;
    top: 12px;
    left: 13px;
}
.sign-in-form input[type="email"],
.sign-in-form input[type="password"],
.sign-in-form input[type="text"],
.sign-in-form input[type="tel"]{
    border:none;
    background:none;
    width:100%;
    height:42px;
    font:300 19px/22px Helvetica, Arial, sans-serif;
    color:#fff;
    padding: 0 11px 1px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    color:#d9d8dd;
}
.sign-in-form.profile-form .row{margin-bottom:11px;}
.sign-in-form.profile-form input[type="password"]{
    font-size: 28px;
    line-height: 36px;
    padding:0 0 3px 9px;
    color:#fff;
}
.sign-in-form input::-webkit-input-placeholder {color: #d9d8dd;}
.sign-in-form input:-moz-placeholder {color: #d9d8dd;}
.sign-in-form input::-moz-placeholder {
    color: #d9d8dd;
    opacity: 1;
}
.sign-in-form input:-ms-input-placeholder {color: #d9d8dd;}
.sign-in-form.profile-form input[type="password"]::-webkit-input-placeholder {
    font-size: 50px;
    line-height: 44px;
    color:#fff;
}
.sign-in-form.profile-form input[type="password"]:-moz-placeholder {
    font-size: 50px;
    line-height: 44px;
    color:#fff;
}
.sign-in-form.profile-form input[type="password"]::-moz-placeholder {
    font-size: 50px;
    line-height: 42px;
    color:#fff;
}
.sign-in-form.profile-form input[type="password"]:-ms-input-placeholder {
    font-size: 50px;
    line-height: 44px;
    color:#fff;
}
#main .sign-in-box h1{
    margin: 49px 0; // was only bottom
}
.sign-in-form.profile-form input[type="submit"]{
    width:109px;
    background:rgba(255,255,255,0.85);
    color:#000;
    margin:0 auto;
    display:block;
    font-size:24px;
}
.profile-form .row-box{padding-bottom: 38px;}
.sign-in-form.profile-form input[type="submit"]:hover{background:rgba(255,255,255,0.95);}
.select-holder{overflow:hidden;margin-bottom: 16px;}
.select-holder .select-area{
    border-color:#fff;
    color:#fff;
}
.select-holder .select-opener{
    background-position:-37px -2px;
}
.drop-select-address{background:#fff;}
.delivery-box{text-align:center;padding: 1px 0 0;}
#main .delivery-box h1{margin-bottom: 37px;}
.cycle-gallery,
.cycle-gallery2 {position: relative;}
.cycle-gallery .mask,
.cycle-gallery2 .mask {
    position: relative;
    overflow: hidden;
}
.cycle-gallery .slideset{
    width: 99999px;
    float: left;
}
.cycle-gallery .slide,
.cycle-gallery2 .slide{
    float: left;
    position:relative;
    min-height: 425px;

}
.cycle-gallery2 .slide{
    width:100%;
    min-height: 471px;
}
.cycle-gallery .slide.active {z-index: 1;}
.cycle-gallery .pagination,
.cycle-gallery2 .pagination{
    position:absolute;
    bottom: 58px;
    left:0;
    width:100%;
    z-index:10;
}
.cycle-gallery .pagination ul,
.cycle-gallery2 .pagination ul{
    text-align:center;
    list-style:none;
    margin:0;
    padding: 0 0 0 2px;
}
.cycle-gallery .pagination li,
.cycle-gallery2 .pagination li{
    display:inline-block;
    vertical-align:top;
    margin:0 5px;
}
.cycle-gallery .pagination a,
.cycle-gallery2 .pagination a{
    width:14px;
    height:14px;
    display:block;
    border-radius:14px;
    background:rgba(255,255,255,0.5);
    text-indent:-9999px;
    overflow:hidden;
}
.cycle-gallery .pagination a:hover,
.cycle-gallery2 .pagination a:hover,
.cycle-gallery .pagination .active a,
.cycle-gallery2 .pagination .active a{background:#fff;}
.sign-in-form .street-row:after{
    background-position:0 -21px;
    width:18px;
    height:18px;
    top: 12px;
    left: 11px;
}
.sign-in-form .office-row:after{
    background-position:-19px -22px;
    width:19px;
    height:17px;
    top: 13px;
    left: 11px;
}
.sign-in-form .postcode-row:after{
    background-position:-39px -22px;
    width:17px;
    height:16px;
    top: 13px;
    left: 13px;
}
.sign-in-form .cycle-gallery input[type="submit"]{
    position:absolute;
    bottom:0;
    width:100%;
    background:rgba(229, 51, 79, 0.85);
    color:#fff;
    font-size:21px;
}
.sign-in-form .cycle-gallery input[type="submit"]:hover{background:rgba(229, 51, 79, 0.9);}
.sign-in-form .cycle-gallery .row-box{padding-bottom:80px;}
.sign-in-form .payment-box input[type="text"],
.sign-in-form .payment-box input[type="tel"]{
    text-align:center;
    border:1px solid #fff;
    border-radius:4px;
    margin-bottom:11px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    height:44px;
}
.open-close{text-align:center;}
.open-close .open{
    display:inline-block;
    background:rgba(255,255,255,0.85);
    color:#000;
    font-size:24px;
    text-align:center;
    text-transform:uppercase;
    border-radius:4px;
    padding: 13px 28px 15px 27px;
    vertical-align:top;
    margin-top: 30px;
}
.open-close .open:hover{
    background:rgba(255,255,255,0.95);
    text-decoration:none;
}
.open-close.active .opener{display:none;}
.payment-holder{padding: 2px 0 0;}
#main .payment-holder h1{margin-bottom: 35px;}
.payment-holder .row:before{background:none;}
.payment-holder .row:after{
    width:24px;
    height:17px;
    background-position:-100px -116px;
    left: 31px;
    top: 13px;
}
.payment-holder .row{padding-left:57px;}
.payment-holder .sign-in-form  input[type="text"]{
    font-size:24px;
    padding: 0 0 0 11px;
}
.open-close .slide{
    padding-top: 19px;
    display:none;
}
.open-close.active .slide{display:block;}
#main .open-close .slide p{
    font-size:24px;
    margin-bottom: 16px;
}
.payment-holder .slide input[type="text"]{
    border:1px solid #fff;
    text-align:center;
    border-radius:4px;
    margin-bottom:11px;
    font-size:19px;
    height:44px;
    padding: 5px 10px 6px;
}
.payment-holder .slide input[type="submit"]{
    margin-top: 43px;
    color:#e2e2e2;
}
.sign-in-form.profile-form .slide input[type="password"]{font-size:20px;}
.sign-in-form.profile-form .slide input[type="password"]::-webkit-input-placeholder {
    font-size: 19px;
    line-height: 44px;
    color:#e2e2e2;
}
.sign-in-form.profile-form .slide input[type="password"]:-moz-placeholder {
    font-size: 19px;
    line-height: 44px;
    color:#e2e2e2;
}
.sign-in-form.profile-form .slide input[type="password"]::-moz-placeholder {
    font-size: 19px;
    line-height: 44px;
    color:#e2e2e2;
}
.sign-in-form.profile-form .slide input[type="password"]:-ms-input-placeholder {
    font-size: 19px;
    line-height: 44px;
    color:#e2e2e2;
}
#main .register-box h1{
    margin-bottom: 49px;
}
.register-box{text-align:center;}
.btn-next{
    display:block;
    background:rgba(229, 51, 79, 0.85);
    padding: 12px 10px;
    text-align:center;
    border-radius:4px;
    text-transform:uppercase;
    font:300 24px/26px Helvetica, Arial, sans-serif;
    color:#fff;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin-bottom: 16px;
}
.btn-next:hover{
    background:rgba(229, 51, 79, 0.95);
    text-decoration:none;
}
.register-box .row-box{padding-bottom: 47px;}
.sign{
    background:rgba(255,255,255,0.7);
    color:#010101;
    display:inline-block;
    vertical-align:top;
    padding: 5px 18px 4px;
    border-radius:4px;
    text-transform:uppercase;
}
.sign:hover{
    text-decoration:none;
    background:rgba(255,255,255,0.9);
}
.cycle-gallery2 .pagination{bottom: 138px;}
.cycle-gallery2 .pagination li{margin: 0 4px;}
.sign-in-form .address-box input[type="text"]{
    text-align:center;
    background:#fff;
    font-size:21px;
    color:#25282b;
    border-radius:4px;
    padding: 1px 10px 2px;
}
.sign-in-form .address-box input[type="text"]::-webkit-input-placeholder {color:#999c9f;}
.sign-in-form .address-box input[type="text"]:-moz-placeholder {color:#999c9f;}
.sign-in-form .address-box input[type="text"]::-moz-placeholder {
    color:#999c9f;
    opacity:1;
}
.address-box{
    min-height: 471px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding-bottom: 170px;
}
.sign-in-form .address-box input[type="text"]:-ms-input-placeholder {color:#999c9f;}
#main .address-box p{
    font:15px/18px Helvetica, Arial, sans-serif;
    color:#fff;
    letter-spacing:1px;
    margin-bottom: 20px;
}
#main .address-box h1{margin-bottom: 83px;}
// .address-box input[type="submit"]{
//     background:rgba(255,255,255, 0.45);
//     font-size:24px;
//     color:#24282a;
//     position:absolute;
//     bottom: 73px;
//     left:0;
// }
.address-box input[type="submit"]:hover{background:rgba(255,255,255, 0.6);}
.sign-in-form.success .address-box input[type="submit"]{
    background:rgba(229, 51, 79, 0.75);
    color:#e2e2e2;
}
.sign-in-form.success .address-box input[type="submit"]:hover{background:rgba(229, 51, 79, 0.85);}

.address-message { // Used to be success-address
    display:none;
    padding-top:20px;
}
#main .address-message   // Used to be success-address
p{font-size:18px;
}
.sign-in-form.success .address-message { // Used to be success-address
    display:block;
}

@media only screen and (min-width:1150px){
    .pushed #header{margin:0 !important;}
}
@media ( -webkit-min-device-pixel-ratio : 1.5 ), ( min-resolution : 144dpi ){
    .services-list a:after,
    .services-list .phone:after,
    .services-list .choice:after,
    .services-list .time:after,
    .link-down,
    .relation-holder .btn:after,
    .btn.message:after,
    .speak-text:after,
    .aside-bar:after,
    .nav a:after,
    .nav .promotions:after,
    .nav .home:after,
    .nav .about:after,
    .nav .order:after,
    .nav .profile:after,
    .nav .payment:after,
    .nav .support:after,
    .nav .history:after,
    .nav .share:after,
    .sign-out:after,
    .information-text:after,
    .time-holder:after,
    .tel,
    .verified-box:after,
    .taste-list span:after,
    .call-box:after,
    .quality-text:after,
    .support-block:after,
    .select-area .select-opener,
    .order-box .support-block:after,
    .product-list li:after,
    .product-list .rating:after,
    .sign-in-form .row:after,
    .sign-in-form .tel-row:after,
    .sign-in-form .name-row:after,
    .sign-in-form .street-row:after,
    .sign-in-form .postcode-row:after,
    .sign-in-form .office-row:after,
    .speed-box:after,
    .question-list a:after,
    .product-holder:after,
    .social-networks a,
    .social-networks .twitter,
    .social-networks .email,
    .sign-in-form .password-row:after,
    .payment-holder .row:after{
        background-image: url(../assets/sprite-2x.png);
        background-size:207px 293px;
    }
}