<div class="wrapper inner">
	<h3>Use promo code</h3>
    <p>Enter the code below. The promotion will be applied to your next order.</p>
	<form action="/shop/neworder" method="GET">
        <input type="text" id="promocode" placeholder="Enter promo code" name="postcode" autocomplete="off"/>
        <input type="submit" value="Submit promo code" />
    </form>
</div>