<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wine_allergy.name %>
</p>

<%= link_to 'Edit', edit_wine_allergy_path(@wine_allergy) %> |
<%= link_to 'Back', wine_allergies_path %>
