<!-- FOOTER
================================= -->
<section id="footer" class="footer-section section">

  <div class="container">

    <div class="footer-socmed">
      <a href="https://www.facebook.com/pages/Vyne/364837310356393" target="_blank"><span class="fa fa-facebook"></span></a>
      <a href="https://www.twitter.com/vynewine" target="_blank"><span class="fa fa-twitter"></span></a>
      <a href="http://instagram.com/vynewine/" target="_blank"><span class="fa fa-instagram"></span></a>
      <a href="https://www.pinterest.com/vynewine/" target="_blank"><span class="fa fa-pinterest"></span></a>
    </div>

  </div>


  <div class="container footer-links">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12 col-xs-offset-0">
        <% if has_invitation_code %>
            <a href="https://vyne.zendesk.com/">Help</a>
        <% end %>
        <a href="/tc" >Terms</a>
        <a href="/jobs" data-no-turbolink="true">Jobs</a>
      </div>
    </div>

  </div>

  <div class="container">
    <div class="footer-copyright">
      &copy; 2015 Vyne
    </div>
  </div>

</section>