<header class="main-header">
  <div class="wrapper wrapper-fluid">
    <div id="mini-cart"></div>

    <%= link_to root_path, { :class=>"logo", data: { no_turbolink: true } } do %><%= image_tag "logo@2x.png", :alt => "Logo" %><% end %>
    <a href="" class="menu-link">
      <div class="top"></div>
      <div class="middle"></div>
      <div class="bottom"></div>
    </a>
  </div>
</header>