<header class="main-header">
  <div class="wrapper wrapper-fluid">
    <%= link_to root_path, { :class=>"cart-link" } do %>
      <%= image_tag "bag@2x.png", :alt => "Cart" %>
      <span class="cart-count">0</span>
    <% end %>
    <%= link_to root_path, { :class=>"logo" } do %><%= image_tag "logo@2x.png", :alt => "Logo" %><% end %>
    <a href="" class="menu-link">
      <div class="top"></div>
      <div class="middle"></div>
      <div class="bottom"></div>
    </a>
  </div>
</header>