<div class="aside-bar hidden">
  <nav>
    <ul class="nav">

      <% if user_signed_in? %>

          <% if current_user.has_role?(:supplier) ||
                  current_user.has_role?(:admin) ||
                  current_user.has_role?(:superadmin)
          %>
              <li class="sign-in">
                <%= link_to 'Admin', admin_root_path, data: { no_turbolink: true } %>
              </li>
          <% end %>
      <% else %>
          <li class="sign-in">
            <%= link_to "Sign in", login_path, data: { no_turbolink: true } %>
          </li>
      <% end %>
      <li><a href="/" class="promotions" data-no-turbolink="true">Home</a></li>
      <% if user_signed_in? %>
          <li>
            <%= link_to 'My wines', mywines_path, :class => 'history' %>
          </li>
      <% end %>
      <li><a href="/delivery">Coverage Map</a></li>

      <% if has_invitation_code %>
          <li><a href="https://vyne.zendesk.com/">Help</a></li>
      <% end %>
      <li><a href="/tc">Terms</a></li>
      <li><a href="/jobs">Jobs</a></li>
    </ul>
  </nav>

  <% if user_signed_in? %>
      <%= link_to "Sign out", logout_path, :method => :delete, :class => "sign-out" %>
  <% end %>
</div>